<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzw.debit.dal.mapper.BorrowMapper">
    <resultMap id="BaseResultMap" type="com.gzw.debit.dal.model.BorrowDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="image" jdbcType="VARCHAR" property="image" />
        <result column="borrow_order" jdbcType="INTEGER" property="borrowOrder" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="product_detail" jdbcType="VARCHAR" property="productDetail" />
        <result column="debit_desc" jdbcType="VARCHAR" property="debitDesc" />
        <result column="need_data" jdbcType="VARCHAR" property="needData" />
        <result column="qualification" jdbcType="VARCHAR" property="qualification" />
        <result column="people_number" jdbcType="INTEGER" property="peopleNumber" />
        <result column="fast_time" jdbcType="VARCHAR" property="fastTime" />
        <result column="debit_money" jdbcType="VARCHAR" property="debitMoney" />
        <result column="debit_time" jdbcType="VARCHAR" property="debitTime" />
        <result column="monthy_rate" jdbcType="DECIMAL" property="monthyRate" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="list_click_count" jdbcType="INTEGER" property="listClickCount" />
        <result column="detail_click_count" jdbcType="INTEGER" property="detailClickCount" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Query_Where_Clause">
        <where>
            <foreach collection="query.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        id,gmt_create,gmt_modified,url,image,borrow_order,product_name,product_detail,debit_desc,need_data,qualification,people_number,fast_time,debit_money,debit_time,monthy_rate,status,list_click_count,detail_click_count
    </sql>

    <select id="selectByQuery" parameterType="com.gzw.debit.dal.query.BorrowQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from debit_borrow
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from debit_borrow where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from debit_borrow where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByQuery" parameterType="com.gzw.debit.dal.query.BorrowQuery">
        delete from debit_borrow
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </delete>

    <insert id="insertSelective" parameterType="com.gzw.debit.dal.model.BorrowDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into debit_borrow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="url != null">
                url,
            </if>
            <if test="image != null">
                image,
            </if>
            <if test="borrowOrder != null">
                borrow_order,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="productDetail != null">
                product_detail,
            </if>
            <if test="debitDesc != null">
                debit_desc,
            </if>
            <if test="needData != null">
                need_data,
            </if>
            <if test="qualification != null">
                qualification,
            </if>
            <if test="peopleNumber != null">
                people_number,
            </if>
            <if test="fastTime != null">
                fast_time,
            </if>
            <if test="debitMoney != null">
                debit_money,
            </if>
            <if test="debitTime != null">
                debit_time,
            </if>
            <if test="monthyRate != null">
                monthy_rate,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="listClickCount != null">
                list_click_count,
            </if>
            <if test="detailClickCount != null">
                detail_click_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="borrowOrder != null">
                #{borrowOrder,jdbcType=INTEGER},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productDetail != null">
                #{productDetail,jdbcType=VARCHAR},
            </if>
            <if test="debitDesc != null">
                #{debitDesc,jdbcType=VARCHAR},
            </if>
            <if test="needData != null">
                #{needData,jdbcType=VARCHAR},
            </if>
            <if test="qualification != null">
                #{qualification,jdbcType=VARCHAR},
            </if>
            <if test="peopleNumber != null">
                #{peopleNumber,jdbcType=INTEGER},
            </if>
            <if test="fastTime != null">
                #{fastTime,jdbcType=VARCHAR},
            </if>
            <if test="debitMoney != null">
                #{debitMoney,jdbcType=VARCHAR},
            </if>
            <if test="debitTime != null">
                #{debitTime,jdbcType=VARCHAR},
            </if>
            <if test="monthyRate != null">
                #{monthyRate,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="listClickCount != null">
                #{listClickCount,jdbcType=INTEGER},
            </if>
            <if test="detailClickCount != null">
                #{detailClickCount,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.gzw.debit.dal.query.BorrowQuery" resultType="java.lang.Integer">
        select count(*) from debit_borrow
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByQuerySelective" parameterType="map">
        update debit_borrow
        <set>
            gmt_modified=now(),
            <if test="record.url != null">
                url = #{record.url,jdbcType=VARCHAR},
            </if>
            <if test="record.image != null">
                image = #{record.image,jdbcType=VARCHAR},
            </if>
            <if test="record.borrowOrder != null">
                borrow_order = #{record.borrowOrder,jdbcType=INTEGER},
            </if>
            <if test="record.productName != null">
                product_name = #{record.productName,jdbcType=VARCHAR},
            </if>
            <if test="record.productDetail != null">
                product_detail = #{record.productDetail,jdbcType=VARCHAR},
            </if>
            <if test="record.debitDesc != null">
                debit_desc = #{record.debitDesc,jdbcType=VARCHAR},
            </if>
            <if test="record.needData != null">
                need_data = #{record.needData,jdbcType=VARCHAR},
            </if>
            <if test="record.qualification != null">
                qualification = #{record.qualification,jdbcType=VARCHAR},
            </if>
            <if test="record.peopleNumber != null">
                people_number = #{record.peopleNumber,jdbcType=INTEGER},
            </if>
            <if test="record.fastTime != null">
                fast_time = #{record.fastTime,jdbcType=VARCHAR},
            </if>
            <if test="record.debitMoney != null">
                debit_money = #{record.debitMoney,jdbcType=VARCHAR},
            </if>
            <if test="record.debitTime != null">
                debit_time = #{record.debitTime,jdbcType=VARCHAR},
            </if>
            <if test="record.monthyRate != null">
                monthy_rate = #{record.monthyRate,jdbcType=DECIMAL},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=TINYINT},
            </if>
            <if test="record.listClickCount != null">
                list_click_count = #{record.listClickCount,jdbcType=INTEGER},
            </if>
            <if test="record.detailClickCount != null">
                detail_click_count = #{record.detailClickCount,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Query_Where_Clause" />
        </if>
    </update>

    <update id="updateByQuery" parameterType="map">
        update debit_borrow set
        url = #{record.url,jdbcType=VARCHAR},
        image = #{record.image,jdbcType=VARCHAR},
        borrow_order = #{record.borrowOrder,jdbcType=INTEGER},
        product_name = #{record.productName,jdbcType=VARCHAR},
        product_detail = #{record.productDetail,jdbcType=VARCHAR},
        debit_desc = #{record.debitDesc,jdbcType=VARCHAR},
        need_data = #{record.needData,jdbcType=VARCHAR},
        qualification = #{record.qualification,jdbcType=VARCHAR},
        people_number = #{record.peopleNumber,jdbcType=INTEGER},
        fast_time = #{record.fastTime,jdbcType=VARCHAR},
        debit_money = #{record.debitMoney,jdbcType=VARCHAR},
        debit_time = #{record.debitTime,jdbcType=VARCHAR},
        monthy_rate = #{record.monthyRate,jdbcType=DECIMAL},
        status = #{record.status,jdbcType=TINYINT},
        list_click_count = #{record.listClickCount,jdbcType=INTEGER},
        detail_click_count = #{record.detailClickCount,jdbcType=INTEGER},
        gmt_modified = now()
        <if test="_parameter != null">
            <include refid="Update_By_Query_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.gzw.debit.dal.model.BorrowDO">
        update debit_borrow
        <set>
            gmt_modified=now(),
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="borrowOrder != null">
                borrow_order = #{borrowOrder,jdbcType=INTEGER},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productDetail != null">
                product_detail = #{productDetail,jdbcType=VARCHAR},
            </if>
            <if test="debitDesc != null">
                debit_desc = #{debitDesc,jdbcType=VARCHAR},
            </if>
            <if test="needData != null">
                need_data = #{needData,jdbcType=VARCHAR},
            </if>
            <if test="qualification != null">
                qualification = #{qualification,jdbcType=VARCHAR},
            </if>
            <if test="peopleNumber != null">
                people_number = #{peopleNumber,jdbcType=INTEGER},
            </if>
            <if test="fastTime != null">
                fast_time = #{fastTime,jdbcType=VARCHAR},
            </if>
            <if test="debitMoney != null">
                debit_money = #{debitMoney,jdbcType=VARCHAR},
            </if>
            <if test="debitTime != null">
                debit_time = #{debitTime,jdbcType=VARCHAR},
            </if>
            <if test="monthyRate != null">
                monthy_rate = #{monthyRate,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="listClickCount != null">
                list_click_count = #{listClickCount,jdbcType=INTEGER},
            </if>
            <if test="detailClickCount != null">
                detail_click_count = #{detailClickCount,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
