/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

#application
*.yml
debit-web/target/*
debit-web/src/main/resources/*.yml
debit-web/src/main/resources/static/apk/*

debit-core/target/*
debit-dal/target/*
debit-mybatisgen/target/*
debit-mybatisgen/src/main/resources/db.config

#webBuild
debit-web/src/main/resources/static/admin/*
debit-web/src/main/resources/react-admin/node_modules/