<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzw.debit.dal.mapper.ext.MerchantExtMapper">

    <select id="getAnalyzeInfo" resultType="int" parameterType="com.gzw.debit.dal.query.ext.AnalyzeQuery">
        SELECT count(*) FROM debit_user as a LEFT JOIN debit_bury as b
        ON a.id = b.user_id
        <where>
            AND a.status = 1
            AND b.status = 1
            and a.channel_id = #{channelId}
            and b.list_count &gt;= #{listCount}
            and b.detail_count &gt;= #{detailCount}
        </where>
    </select>

    <select id="getMerchantRegisterData" resultType="com.gzw.debit.dal.model.ext.MerchantDataDO">

        SELECT count(*)as count,b.name as resultValue,b.id as merchantId from debit_user as a
        LEFT JOIN debit_merchant as b
        ON a.channel_id = b.channel_id
        GROUP BY a.channel_id

    </select>
</mapper>